.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0; 
    gap: 24px; 
}

.gallery-item {
    display: flex;
    list-style: none;
    flex-direction: column;
    border: 1px solid #808080;
    width: 360px;
    
}

.gallery-image, .gallery-link {
    width: 360px;
    height: 200px;
    
}

.gallery-list {
    display: flex;
    width: 360px;
    padding: 4px 20px;
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 360px;
}

.list-paragraph {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    
}

.list-section {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}


.loader-button {
    display: flex;
    margin: 32px auto 44px;

    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
}

.loader-button:hover {
    background: #6c8cff;
}

.is-hidden {
    display: none;
}